*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url("/media/Nebula/nebula\ pink.jpg") no-repeat center center;
    box-sizing: border-box;
}



.title{
    color: whitesmoke;
    padding-bottom: 5%;
    font-size: 2.5rem;
    text-align: center;

}

.video{
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.video::after{
    content: "" ;
    display: block;
    width: 100%;
    padding-bottom: 50%;
}

.clase-1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#class-1{
    margin-top: 10%;
}


.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

footer{
    color: whitesmoke;
    margin-top: 10%;
}



