

html{/*tecnica para desplazar al seleccionar
    una opcion del inicio con un efecto */
    scroll-behavior: smooth;
}   

/*Estilos para el carousel */
.d-item{
    height: 700px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/*fin estilos carousel*/

#nosotros{
    padding-top: 90px;
    font-size: 1.4em;
    padding-bottom: 50px;
}

#caracteristicas{
    padding-top: 60px;
    padding-bottom: 70px;
    
}

.lista{
    list-style-type: none;
    
}

footer p{
    
    color: rgb(100, 100, 100);
}

#miModal{
    color: black;
}




