<!DOCTYPE html>
<html>
<head>
  <title>Partitura y Búsqueda de Canciones</title>
  <link rel="stylesheet" type="text/css" href="/Guitar-Cosmic/Style/style-partiture">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    
  <div class="container">
    <h1>Partitura y Búsqueda de Canciones</h1>
    <input type="text" id="searchInput" placeholder="Buscar canción...">
    <button onclick="searchSong()">Buscar</button>
    <div id="sheetContainer"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/Guitar-Cosmic/js/api.js"></script>
</body>
</html>
